@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
    --font-inter: 'Inter Variable', sans-serif;

    --color-foreground: #ffffff; /* white */
    --color-foreground-secondary: #a1a1aa; /* zinc-400 */

    --color-background-light: #27272a; /* zinc-800 */
    --color-background: #18181b; /* zinc-900 */
    --color-background-dark: #09090b; /* zinc-950 */

    --color-primary-light: #0ea5e9; /* sky-500 */
    --color-primary: #0284c7; /* sky-600 */
    --color-primary-dark: #0369a1; /* sky-700 */
}

body {
    @apply bg-background text-foreground font-inter antialiased scheme-dark;
}
