node_modules
tsconfig.tsbuildinfo
docker-compose.yaml
docker-compose.yml
eslint.config.mjs
README.md
LICENSE
build
dist
.prettierignore
.dockerignore
.prettierrc
.gitignore
.DS_Store
.github
.cursor
.vscode
.next
.git
.env
